body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
}

#var {
    background-color: #202020;
    height: calc(100vh - 40px);
    padding: 20px 15px;

    & #search-container {
        position: relative;
        width: calc(100% - 30px);
        
        & input {
            width: 94%;
            height: 35px;
            border: none;
            border-radius: 15px;
            padding: 0 35px 0 10px;
            font-weight: 600;
            
            &:focus {
                outline: none;
            }
        }
        & button {
            top: 10;
            bottom: 0;
            right: -28px;
            cursor: pointer;
            position: absolute;
            background: none;
            border: none;
            transition: opacity 300ms ease-in-out;
            opacity: 60%;

            &:hover {
                opacity: 100%;
            }
        }
    }
    

    & #options {
        display: flex;
        padding: 5px 10px;
        height: 30px;
        background-color: #0D0D0D;
        margin-top: 15px;
        border-radius: 10px;

        & button {
            border-radius: 10px;
            background-color: #0D0D0D;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #1f1f1f;
            }

            & image {
                width: 20px;
                aspect-ratio: 1;
            }
        }
    }

    & #files-container {
        margin-top: 20px;
        overflow-y: scroll;
        scrollbar-width: none;
        height: calc(100vh - 130px);
        inset: 0;

        & #files {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            & .file-name {
                cursor: pointer;
                text-align: left;
                text-wrap: nowrap;
                width: fit-content;
                font-size: 18px;
                color: white;
                background-color: #181818;
                padding: 5px 10px;
                border: none;
                border-radius: 10px;
                transition: background-color 300ms ease-in-out;
    
                &:hover {
                    background-color: #0f0f0f;
                }
            }
        }
    }
}

#content {
    background-color: #2B2B2B;
    position: relative;

    & #markdown-editor {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;

        & textarea {
            color: white;
            background-color: rgb(25, 26, 25);
            border: none;
            resize: none;

            &:focus {
                outline: none;
            }
        }

        & #preview {
            grid-area: span 2;
        }
    }

    & #code-editor {
        display: none;
    }

    & #editor-options {
        display: flex;
        z-index: 50;

        & #code-md {
            display: flex;
            flex-direction: row;
            position: absolute;
            left: 0;
            bottom: 0;
            gap: 0;

            & button {
                cursor: pointer;
                border: none;
                background: none;
                padding: 5px 10px;
                border-radius: 10px;
                transition: opacity 200ms ease-in-out, scale 300ms ease-in-out;
                opacity: 50%;

                &:hover {
                    scale: 1.1;
                }
            }

            & .active {
                opacity: 100%;
            }
        }

        & #download-button {
            position: absolute;
            cursor: pointer;
            bottom: 0;
            right: 0;
            background: none;
            border: none;
            opacity: 50%;
            transition: opacity 500ms ease-in-out;

            &:hover {
                opacity: 100%;
            }
        }
    }
}