body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

* {
    font-family: 'Geist Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
}

#var {
    background-color: #1A2023;
    height: calc(100vh - 40px);
    padding: 20px 15px;

    & #search-container {
        position: relative;
        width: calc(100% - 30px);
        
        & input {
            background-color: #232A2F;
            color: #fff;
            width: 94%;
            height: 35px;
            border: none;
            border-radius: 15px;
            padding: 0 35px 0 10px;
            font-size: 16px;
            transition: background-color 300ms ease-in-out;
            
            &:focus {
                outline: none;
                background-color: #2C3338;
            }
        }
    }
    

    & #options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 22px;
        background-color: #232A2F;
        margin-top: 15px;
        border-radius: 10px;

        & p {
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            color: white;
        }

        & div {
            display: flex;
            height: 100%;

            & button {
                display: flex;
                align-items: center;
                background-color: transparent;
                color: #fff;
                height: 100%;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
    
                &:hover {
                    background-color: #31393F;
                }
    
                & image {
                    width: 20px;
                    aspect-ratio: 1;
                }
            }
        }

    }

    & #files-container {
        margin-top: 20px;
        overflow-y: scroll;
        scrollbar-width: none;
        height: calc(100vh - 140px);
        inset: 0;

        & #files-and-folders {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            & .file-name {
                cursor: pointer;
                text-align: left;
                text-wrap: nowrap;
                width: 100%;
                font-size: 18px;
                color: white;
                background-color: transparent;
                padding: 5px 10px;
                border: none;
                border-radius: 10px;
                transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
                border: 1px solid transparent;
    
                &:hover {
                    background-color: #232A2F;
                }
            }

            & .active {
                background-color: #37373D;
                border-color: #fff;
            }
        }
    }
}

#content {
    background-color: #293035;
    position: relative;

    & textarea, #preview {
        font-size: 18px;
        padding: 10px;
        scrollbar-width: thin;
        scrollbar-color: #45494C transparent;

        &::placeholder {
            font-weight: 500;
            opacity: 35%;
        }
    }

    & .editors {
        width: 100%;
        height: 100%;
        gap: 1.5px;
    }

    & #code-editor {
        display: none;
        grid-template-columns: repeat(2, 1fr);

        & textarea {
            letter-spacing: 0.6px;
        }

        & textarea, #preview {
            color: white;
            background-color: #232A2F;
            border: none;
            resize: none;

            &:focus {
                outline: none;
            }

            &:last-child {
                padding-bottom: 50px;
            }
        }

        & #preview {
            grid-area: span 2;
            cursor: default;
        }
    }

    & #markdown-editor {
        display: none;
        grid-template-columns: 1fr;

        & textarea {
            color: white;
            background-color: #232A2F;
            border: none;
            resize: none;

            &:focus {
                outline: none;
            }
        }
    }

    & #editor-options {
        display: flex;
        z-index: 50;

        & #code-md {
            display: flex;
            flex-direction: row;
            position: absolute;
            left: 0;
            bottom: 0;
            margin-bottom: 2px;
            padding-left: 5px;
            gap: 0;

            & button {
                cursor: not-allowed;
                border: none;
                background: none;
                transition: opacity 200ms ease-in-out, scale 300ms ease-in-out;
                opacity: 50%;

                &:hover {
                    scale: 1.1;
                }
            }

            & .active {
                opacity: 100%;
            }
        }

        & #download-button {
            position: absolute;
            cursor: not-allowed;
            bottom: 0;
            right: 0;
            background: none;
            border: none;
            opacity: 50%;
            transition: opacity 500ms ease-in-out;

            &:hover {
                opacity: 100%;
            }
        }
    }
    & #watermark {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: calc(100% - 335px);
        height: calc(100% - 8%);
        position: fixed;
        font-size: 35px;
        font-weight: bolder;
        opacity: 30%;
        cursor: default;
    }
}

#saved-alert {
    opacity: 0;
    position: fixed;
    bottom: 35px;
    right: 0;
    background-color: #0D0D0D;
    color: white;
    padding: 10px 20px;
    border-radius: 15px 0 0 15px;
    cursor: default;
    transition: opacity 500ms ease-in-out;
}